# Absenteeism Case Study

## Import the modules

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
%matplotlib inline

In [2]:
absenteeism = pd.read_csv('The Data Science Course 2018\Part_8_Case_Study\S58_L412\Absenteeism-data.csv', parse_dates=['Date'])

## Pre-Processing

### Drop the 'ID' column

In [3]:
absenteeism.drop(labels='ID', axis=1, inplace=True)

### Split the reasons for absence into multiple dummy variables, and then group them in the following way:

Group 1: Columns 1 to 14 <br>
Group 2: Columns 15, 16, and 17 <br>
Group 3: Columns 18, 19, 20, and 21 <br>
Group 4: Columns 22 to 28

In [4]:
dummies = pd.get_dummies(absenteeism['Reason for Absence'])

In [5]:
absenteeism['Reason 1'] = dummies.loc[:, 1:14].sum(axis=1)
absenteeism['Reason 2'] = dummies.loc[:, 15:17].sum(axis=1)
absenteeism['Reason 3'] = dummies.loc[:, 18:21].sum(axis=1)
absenteeism['Reason 4'] = dummies.loc[:, 22:28].sum(axis=1)
absenteeism.drop(labels='Reason for Absence', axis=1, inplace=True)

### Extract the month value and the day of the week from the 'Date' column. Then, drop the 'Date' column as well.

In [6]:
absenteeism['Month'] = absenteeism['Date'].dt.month
absenteeism['Weekday'] = absenteeism['Date'].dt.weekday
absenteeism.drop(labels='Date', axis=1, inplace=True)

### Turn the data from the 'Education column into binary data, by mapping the value of 0 to the values of 1, and the value of 1 to the rest of the values found in this column.

In [7]:
absenteeism['Education'].unique()

array([1, 3, 2, 4], dtype=int64)

In [8]:
edu_mapping = {1: 0, 2: 1, 3: 1, 4: 1}
absenteeism['Education'] = absenteeism['Education'].map(edu_mapping)

In [9]:
absenteeism['Education'].value_counts()

0    583
1    117
Name: Education, dtype: int64

In [10]:
ordered_cols = ['Reason 1', 'Reason 2', 'Reason 3',
                'Reason 4', 'Month', 'Weekday', 'Transportation Expense', 'Distance to Work',
                'Age', 'Daily Work Load Average', 'Body Mass Index', 'Education', 'Children',
                'Pets', 'Absenteeism Time in Hours']

### Reorder the columns of the DataFrame, so that the reasons and date are at the beginning of the DataFrame.

In [11]:
absenteeism = absenteeism[ordered_cols]

### Create the targets

In [12]:
absenteeism['Absenteeism Time in Hours'].median()

3.0

In [13]:
targets = np.where(absenteeism['Absenteeism Time in Hours'] >
                   absenteeism['Absenteeism Time in Hours'].median(), 1, 0)
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [14]:
absenteeism['Excessive Absenteeism'] = targets
absenteeism.head()

,Reason 1,Reason 2,Reason 3,Reason 4,Month,Weekday,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Excessive Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2,0

### A comment on the targets

In [15]:
targets.sum() / targets.shape[0]

0.45571428571428574

In [16]:
absenteeism = absenteeism.drop(['Absenteeism Time in Hours', 'Weekday',
                                'Daily Work Load Average', 'Distance to Work'], axis=1)

In [17]:
unscaled_inputs = absenteeism.iloc[:, :-1]

### Standardize the data

In [18]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler

class CustomScaler(BaseEstimator, TransformerMixin):
    
    def __init__(self, columns, copy=True, with_mean=True, with_std=True):
        self.scaler = StandardScaler(copy, with_mean, with_std)
        self.columns = columns
        self.mean_ = None
        self.var_ = None
        
    def fit(self, X, y=None):
        self.scaler.fit(X[self.columns], y)
        self.mean_ = np.mean(X[self.columns])
        self.var_ = np.var(X[self.columns])
        return self
    
    def transform(self, X, y=None, copy=None):
        init_col_order = X.columns
        X_scaled = pd.DataFrame(self.scaler.transform(X[self.columns]), columns=self.columns)
        X_not_scaled = X.loc[:, ~X.columns.isin(self.columns)]
        return pd.concat([X_not_scaled, X_scaled], axis=1)[init_col_order]

In [19]:
columns_to_omit = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Education']

In [20]:
columns_to_scale = [x for x in unscaled_inputs.columns.values if x not in columns_to_omit]

In [21]:
absenteeism_scaler = CustomScaler(columns_to_scale)

In [22]:
absenteeism_scaler.fit(unscaled_inputs)

CustomScaler(columns=['Reason 1', 'Reason 2', 'Reason 3', 'Reason 4', 'Month',
                      'Transportation Expense', 'Age', 'Body Mass Index',
                      'Children', 'Pets'],
             copy=None, with_mean=None, with_std=None)

In [23]:
scaled_inputs = absenteeism_scaler.transform(unscaled_inputs)

In [24]:
scaled_inputs.shape

(700, 11)

### Split the data into train & test and shuffle

In [25]:
from sklearn.model_selection import train_test_split

### Split

In [26]:
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, targets, train_size=0.8, random_state=20)

In [27]:
print(x_train.shape, y_train.shape)

(560, 11) (560,)

In [28]:
print(x_test.shape, y_test.shape)

(140, 11) (140,)

## Modelling

In [29]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

### Training the model

In [30]:
reg = LogisticRegression(solver='liblinear')

In [31]:
reg.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [32]:
reg.score(x_train, y_train)

0.7892857142857143

### Manually check the accuracy

In [33]:
model_outputs = reg.predict(x_train)

In [34]:
np.sum(model_outputs == y_train) / model_outputs.shape[0]

0.7892857142857143

### Finding the intercept and coefficients

In [35]:
reg.intercept_

array([-0.15809519])

In [36]:
reg.coef_

array([[ 2.05123613,  0.32790608,  1.54957439,  1.29386678,  0.01960527,
         0.71291978, -0.20204278,  0.33532479, -0.34809473,  0.3802679 ,
        -0.31820729]])

In [37]:
unscaled_inputs.columns.values

array(['Reason 1', 'Reason 2', 'Reason 3', 'Reason 4', 'Month',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pets'], dtype=object)

In [38]:
feature_name = unscaled_inputs.columns.values

In [39]:
summary_table = pd.DataFrame(columns=['Feature name'], data=feature_name)
summary_table['Coefficient'] = np.transpose(reg.coef_)
summary_table

              Feature name  Coefficient
0                 Reason 1     2.051236
1                 Reason 2     0.327906
2                 Reason 3     1.549574
3                 Reason 4     1.293867
4                    Month     0.019605
5   Transportation Expense     0.712920
6                      Age    -0.202043
7          Body Mass Index     0.335325
8                Education    -0.348095
9                 Children     0.380268
10                    Pets    -0.318207

In [40]:
summary_table.index = summary_table.index + 1
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]
summary_table = summary_table.sort_index()
summary_table

              Feature name  Coefficient
0                Intercept    -0.158095
1                 Reason 1     2.051236
2                 Reason 2     0.327906
3                 Reason 3     1.549574
4                 Reason 4     1.293867
5                    Month     0.019605
6   Transportation Expense     0.712920
7                      Age    -0.202043
8          Body Mass Index     0.335325
9                Education    -0.348095
10                Children     0.380268
11                    Pets    -0.318207

### Interpreting the coefficients

In [41]:
summary_table['Odds_ratio'] = np.exp(summary_table['Coefficient'])

In [42]:
summary_table.sort_values('Odds_ratio', ascending=False)

              Feature name  Coefficient  Odds_ratio
1                 Reason 1     2.051236    7.777509
3                 Reason 3     1.549574    4.709465
4                 Reason 4     1.293867    3.646861
6   Transportation Expense     0.712920    2.039939
10                Children     0.380268    1.462676
8          Body Mass Index     0.335325    1.398394
2                 Reason 2     0.327906    1.388059
5                    Month     0.019605    1.019799
0                Intercept    -0.158095    0.853769
7                      Age    -0.202043    0.817060
11                    Pets    -0.318207    0.727452
9                Education    -0.348095    0.706032

## Testing the model

In [43]:
reg.score(x_test, y_test)

0.7285714285714285

In [44]:
predicted_proba = reg.predict_proba(x_test)
predicted_proba

array([[0.75424465, 0.24575535],
       [0.59624252, 0.40375748],
       [0.444549  , 0.555451  ],
       [0.76178124, 0.23821876],
       [0.06706972, 0.93293028],
       [0.28157627, 0.71842373],
       [0.29087893, 0.70912107],
       [0.07127856, 0.92872144],
       [0.74710635, 0.25289365],
       [0.75749418, 0.24250582],
       [0.47948351, 0.52051649],
       [0.15474894, 0.84525106],
       [0.03582897, 0.96417103],
       [0.72413423, 0.27586577],
       [0.22783569, 0.77216431],
       [0.50470213, 0.49529787],
       [0.47801867, 0.52198133],
       [0.48534614, 0.51465386],
       [0.36611537, 0.63388463],
       [0.03418223, 0.96581777],
       [0.74264442, 0.25735558],
       [0.76178124, 0.23821876],
       [0.47528164, 0.52471836],
       [0.46942969, 0.53057031],
       [0.15765215, 0.84234785],
       [0.7482138 , 0.2517862 ],
       [0.49065739, 0.50934261],
       [0.89789777, 0.10210223],
       [0.16278368, 0.83721632],
       [0.76178124, 0.23821876],
       [0.601882  , 0.398118  ],
       [0.27043674, 0.72956326],
       [0.27333926, 0.72666074],
       [0.4765542 , 0.5234458 ],
       [0.76178124, 0.23821876],
       [0.36247945, 0.63752055],
       [0.74599568, 0.25400432],
       [0.15373865, 0.84626135],
       [0.5434445 , 0.4565555 ],
       [0.36970757, 0.63029243],
       [0.76284483, 0.23715517],
       [0.52458897, 0.47541103],
       [0.75041904, 0.24958096],
       [0.89134261, 0.10865739],
       [0.16364214, 0.83635786],
       [0.31507939, 0.68492061],
       [0.26574678, 0.73425322],
       [0.75964424, 0.24035576],
       [0.75521057, 0.24478943],
       [0.76390514, 0.23609486],
       [0.51286605, 0.48713395],
       [0.93297608, 0.06702392],
       [0.28157627, 0.71842373],
       [0.76059568, 0.23940432],
       [0.15325542, 0.84674458],
       [0.59341312, 0.40658688],
       [0.053334  , 0.946666  ],
       [0.74813423, 0.25186577],
       [0.91886468, 0.08113532],
       [0.91842599, 0.08157401],
       [0.28501167, 0.71498833],
       [0.27802768, 0.72197232],
       [0.74480153, 0.25519847],
       [0.15379361, 0.84620639],
       [0.76576084, 0.23423916],
       [0.75533108, 0.24466892],
       [0.9881163 , 0.0118837 ],
       [0.7448818 , 0.2551182 ],
       [0.16269485, 0.83730515],
       [0.71941921, 0.28058079],
       [0.75261134, 0.24738866],
       [0.92220048, 0.07779952],
       [0.08885338, 0.91114662],
       [0.5463558 , 0.4536442 ],
       [0.36792269, 0.63207731],
       [0.76178124, 0.23821876],
       [0.16198528, 0.83801472],
       [0.23804756, 0.76195244],
       [0.27320978, 0.72679022],
       [0.36068361, 0.63931639],
       [0.74931803, 0.25068197],
       [0.98869856, 0.01130144],
       [0.73804971, 0.26195029],
       [0.26127204, 0.73872796],
       [0.5188152 , 0.4811848 ],
       [0.89950092, 0.10049908],
       [0.27685095, 0.72314905],
       [0.46942969, 0.53057031],
       [0.95355658, 0.04644342],
       [0.27043674, 0.72956326],
       [0.8327656 , 0.1672344 ],
       [0.87957717, 0.12042283],
       [0.75206205, 0.24793795],
       [0.75315497, 0.24684503],
       [0.75749418, 0.24250582],
       [0.10783766, 0.89216234],
       [0.75206205, 0.24793795],
       [0.25668509, 0.74331491],
       [0.75952518, 0.24047482],
       [0.82780299, 0.17219701],
       [0.36519676, 0.63480324],
       [0.27043674, 0.72956326],
       [0.27907629, 0.72092371],
       [0.27906869, 0.72093131],
       [0.54490054, 0.45509946],
       [0.55506994, 0.44493006],
       [0.75424465, 0.24575535],
       [0.10783766, 0.89216234],
       [0.21884296, 0.78115704],
       [0.88019754, 0.11980246],
       [0.98882899, 0.01117101],
       [0.06806593, 0.93193407],
       [0.26896333, 0.73103667],
       [0.60609402, 0.39390598],
       [0.36655866, 0.63344134],
       [0.37519548, 0.62480452],
       [0.1529765 , 0.8470235 ],
       [0.13195081, 0.86804919],
       [0.43830156, 0.56169844],
       [0.74376471, 0.25623529],
       [0.75641426, 0.24358574],
       [0.895725  , 0.104275  ],
       [0.1555183 , 0.8444817 ],
       [0.52897878, 0.47102122],
       [0.75749418, 0.24250582],
       [0.72178286, 0.27821714],
       [0.76284483, 0.23715517],
       [0.87832811, 0.12167189],
       [0.2756773 , 0.7243227 ],
       [0.74264442, 0.25735558],
       [0.36834078, 0.63165922],
       [0.76284483, 0.23715517],
       [0.75964424, 0.24035576],
       [0.71345683, 0.28654317],
       [0.74368421, 0.25631579],
       [0.37752913, 0.62247087],
       [0.4765542 , 0.5234458 ],
       [0.7182328 , 0.2817672 ],
       [0.75952518, 0.24047482],
       [0.54198772, 0.45801228]])

In [45]:
predicted_proba.shape

(140, 2)

In [46]:
predicted_proba[:, 1]

array([0.24575535, 0.40375748, 0.555451  , 0.23821876, 0.93293028,
       0.71842373, 0.70912107, 0.92872144, 0.25289365, 0.24250582,
       0.52051649, 0.84525106, 0.96417103, 0.27586577, 0.77216431,
       0.49529787, 0.52198133, 0.51465386, 0.63388463, 0.96581777,
       0.25735558, 0.23821876, 0.52471836, 0.53057031, 0.84234785,
       0.2517862 , 0.50934261, 0.10210223, 0.83721632, 0.23821876,
       0.398118  , 0.72956326, 0.72666074, 0.5234458 , 0.23821876,
       0.63752055, 0.25400432, 0.84626135, 0.4565555 , 0.63029243,
       0.23715517, 0.47541103, 0.24958096, 0.10865739, 0.83635786,
       0.68492061, 0.73425322, 0.24035576, 0.24478943, 0.23609486,
       0.48713395, 0.06702392, 0.71842373, 0.23940432, 0.84674458,
       0.40658688, 0.946666  , 0.25186577, 0.08113532, 0.08157401,
       0.71498833, 0.72197232, 0.25519847, 0.84620639, 0.23423916,
       0.24466892, 0.0118837 , 0.2551182 , 0.83730515, 0.28058079,
       0.24738866, 0.07779952, 0.91114662, 0.4536442 , 0.63207731,
       0.23821876, 0.83801472, 0.76195244, 0.72679022, 0.63931639,
       0.25068197, 0.01130144, 0.26195029, 0.73872796, 0.4811848 ,
       0.10049908, 0.72314905, 0.53057031, 0.04644342, 0.72956326,
       0.1672344 , 0.12042283, 0.24793795, 0.24684503, 0.24250582,
       0.89216234, 0.24793795, 0.74331491, 0.24047482, 0.17219701,
       0.63480324, 0.72956326, 0.72092371, 0.72093131, 0.45509946,
       0.44493006, 0.24575535, 0.89216234, 0.78115704, 0.11980246,
       0.01117101, 0.93193407, 0.73103667, 0.39390598, 0.63344134,
       0.62480452, 0.8470235 , 0.86804919, 0.56169844, 0.25623529,
       0.24358574, 0.104275  , 0.8444817 , 0.47102122, 0.24250582,
       0.27821714, 0.23715517, 0.12167189, 0.7243227 , 0.25735558,
       0.63165922, 0.23715517, 0.24035576, 0.28654317, 0.25631579,
       0.62247087, 0.5234458 , 0.2817672 , 0.24047482, 0.45801228])

## Save the model

In [47]:
import pickle

In [48]:
with open('model', 'wb') as file:
    pickle.dump(reg, file)

In [49]:
with open('scaler', 'wb') as file:
    pickle.dump(absenteeism_scaler, file)